<footer class="nav-footer">
  <section class="sitemap">
    <div style="margin-left: 80px">
      <h5>Nav</h5>
      <a href="/blog/">Blog</a>
      <a href="/blog/category/">Categories</a>
      <a href="/blog/tag/">Tags</a>
      <a href="/blog/archive">Archives</a>
    </div>
    <div>
      <h5>Community</h5>
      <a href="http://weibo.com/e73g" target="_blank">Weibo</a>
      <a href="mailto:hi@geek5.cn">Email</a>
      <a href="https://www.linkedin.com/in/calcyu" target="_blank">Linkedin</a>
      <a href="https://www.facebook.com/calcyu" target="_blank">Facebook</a>
      <a href="https://twitter.com/calcyu" target="_blank">Twitter</a>
    </div>
    <div>
      <h5>Repositories</h5>
      <a href="https://github.com/calcyu/LXPuzzle">LXPuzzle</a>
      <a href="https://github.com/calcyu/react-starter-kit">react-starter-kit</a>
    </div>
    <div>
      <h5>Links</h5>
      <a href="https://github.com/facebook/react" target="_blank">React</a>
    </div>
  </section>
  <section class="copyright">
    Copyright © {{ site.time | date: '%Y' }} Geek5.cn
  </section>
</footer>
