<div class="nav-main">
    <div class="wrap">
        <a class="nav-home" href="/">
        <span class="logo-text">GEEK</span>
        <img class="nav-logo" src="/assets/image/logo.png" width="36" height="36">
        </a>
        <div class="nav-lists">
            <ul class="nav-site nav-site-internal">
                <li><a href="/blog/" {% if page.sectionid=='blog' %} class="active" {% endif %}>Blog</a></li>
                <li><a href="/blog/categories/" {% if page.sectionid=='categories' %} class="active" {% endif %}>Categories</a></li>
                <li><a href="/blog/tags/" {% if page.sectionid=='tags' %} class="active" {% endif %}>Tags</a></li>
                <li><a href="https://github.com/calcyu">GitHub</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <ul class="nav-site nav-site-external">
                <li class="nav-site-search">
                    <input id="algolia-doc-search" type="text" placeholder="Search..." />
                </li>
            </ul>
        </div>
    </div>
</div>