/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
body {
  font-family: 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
  font-size: 75%;
  min-width: 300px;
}

.logo{
  margin: 2vh auto;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}

.logo h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
}

.nav a {
  font-family: 'Press Start 2P', cursive;
  padding: 5px 20px;
  border: 1px solid #535353;
  border-radius: 20px;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #535353;
  -webkit-font-smoothing: antialiased;
}

.nav-social{
  margin: 10px 0;
}

.nav-social a {
  color: #535353;
  font-size: 1.2em;
  border: 0px;
  padding: 6px 8px 6px 9px;
}

.nav-social .label {
  display: none;
}

.glitch {
  color: rgb(88, 88, 88);
  font-size: 4em;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  margin: 0 auto;
  width: 290px;
}

@keyframes noise-anim {
  0% {
    clip: rect(82px, 9999px, 43px, 0);
  }
  5% {
    clip: rect(79px, 9999px, 18px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 80px, 0);
  }
  15% {
    clip: rect(21px, 9999px, 4px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 95px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 70px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 9px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 98px, 0);
  }
  40% {
    clip: rect(68px, 9999px, 63px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(55px, 9999px, 99px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 5px, 0);
  }
  80% {
    clip: rect(48px, 9999px, 67px, 0);
  }
  85% {
    clip: rect(85px, 9999px, 19px, 0);
  }
  90% {
    clip: rect(6px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 33px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: rgb(88, 88, 88);
  background: rgb(247, 247, 247);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(29px, 9999px, 49px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(100px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(94px, 9999px, 25px, 0);
  }
  20% {
    clip: rect(47px, 9999px, 77px, 0);
  }
  25% {
    clip: rect(78px, 9999px, 59px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  40% {
    clip: rect(93px, 9999px, 74px, 0);
  }
  45% {
    clip: rect(94px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(87px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(1px, 9999px, 6px, 0);
  }
  60% {
    clip: rect(68px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(89px, 9999px, 41px, 0);
  }
  75% {
    clip: rect(69px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 20px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 14px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 9px, 0);
  }
  95% {
    clip: rect(40px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 40px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: rgb(88, 88, 88);
  background: rgb(247, 247, 247);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
